streamlit==1.46.1          
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
requests==2.32.4
pandas==2.3.0
numpy==2.3.1
python-multipart==0.0.20
protobuf==6.31.1
typing-inspection==0.4.1
typing_extensions==4.14.0
